<div class="container-fluid">
  <div class="content-align">
    <div class="row w3-container w3-animate-opacity w3-center w3-animate-top">
      <div class="col-12 text-center mb-5">
        <h1 class="home-content-banner">Sumant Mishra</h1>
        <h2 class="home-content-banner">Passionate Web developer</h2>
      </div>
    </div>
    <div class="row">
      <div
        class="mb-5 col-12 col-md-6 text-right w3-animate-opacity w3-container w3-animate-left"
      >
        <button class="hire-me-btn w-50" type="button">Hire Me</button>
      </div>
      <div
        class="col-12 col-md-6 text-left w3-animate-opacity w3-container w3-animate-right"
      >
        <button class="hire-me-btn w-50" type="button">Learn More</button>
      </div>
    </div>
    <div class="row">
      <div
        class="col-12 mb-5 w3-center w3-animate-opacity w3-container w3-animate-bottom"
      >
        <a
          ><i
            class="angle-down-icon p-3 fa fa-angle-double-down fa-2x"
            aria-hidden="true"
          ></i
        ></a>
      </div>
    </div>
  </div>
</div>
