.form-control {
  padding: 12px 12px;
}
// all placeholder
::placeholder{
  color: rgb(207, 182, 182);
}

.mobile{
  font-size: 27px;
}
.globe{
  font-size: 18px;
}
.envelop{
  font-size: 17px;
}
.map-mark{
  font-size: 28px;
}