<div class="container-fluid bg-gray text-light">
  <div class="row text-center">
    <div class="col-12 mt-5">
      <h1>Hey!!!</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6">
      <div><h1>Contact me here</h1></div>
      <div class="row mb-3">
        <div class="col-1 text-center">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
        </div>
        <div class="col-11 col-md-7 col-lg-5">
          <span
            >31, Chamunda Apartment Balgarh road, sarkari nursery ke samne,
            Dewas, M.P.,INDIA, 45500</span
          >
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-1 text-center">
          <i class="fa fa-envelope" aria-hidden="true"></i>
        </div>
        <div class="col-11 col-md-7 col-lg-5">
          <span>sumantmishra511@gmail.com</span>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-1 text-center">
          <i class="fa fa-mobile" aria-hidden="true"></i>
        </div>
        <div class="col-11 col-md-7 col-lg-5">
          <span>+91 9579310997</span>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-1 text-center">
          <i class="fa fa-globe" aria-hidden="true"></i>
        </div>
        <div class="col-11 col-md-7 col-lg-5">
          <a href="https://sumant-portfolio.netlify.app/" target="blank"
            >www.sumantmishra.com</a
          >
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div>
        <div><h1>Get In Touch</h1></div>
        <form>
          <div class="form-group">
            <input
              type="email"
              class="shadow-none border rounded-0 h-auto form-control"
              placeholder="Enter your name"
            />
          </div>
          <div class="form-group">
            <input
              type="email"
              class="shadow-none border rounded-0 h-auto form-control"
              placeholder="Enter your email"
            />
          </div>
          <div class="form-group">
            <textarea
              class="shadow-none border rounded-0 h-auto form-control"
              rows="3"
            ></textarea>
          </div>
          <button type="button" class="shadow-none border rounded-0 h-auto btn">
            Let me know
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
