<app-light-bottom-svg></app-light-bottom-svg>
<div class="container-fluid bg-gray text-light">
  <div class="row text-center">
    <div class="col-12">
      <h1 class="horizontal-line">
        <span class="bg-gray px-3">Some Of My Works</span>
      </h1>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let work of workList" class="col-12 col-md-6 col-lg-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{work.bannerImage}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="{{work.navigationUrl}}" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
