.home-background {
  background: url("../../assets/homeBg.jpeg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  top: 0;
  position: absolute;
}
